workflows/Hubspot_to_BigQuery_Sync.json
{"updatedAt":"2026-01-08T13:38:24.188Z","createdAt":"2025-12-02T07:27:49.364Z","id":"YvMsl3QctaicslI3","name":"Hubspot to BigQuery Sync","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-JKrVyuz-lxsAeMROHim9DumXLatfhlXhi9h-x_fU8w","mode":"list","cachedResultName":"MyWedding Meta Data Model","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-JKrVyuz-lxsAeMROHim9DumXLatfhlXhi9h-x_fU8w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Fields","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-JKrVyuz-lxsAeMROHim9DumXLatfhlXhi9h-x_fU8w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-64,304],"id":"b4ae200a-4607-45b4-bbae-a2636f11b914","name":"Get row(s) in sheet"},{"parameters":{"jsCode":"// Read all rows from the Google Sheets node (passed into this Code node)\nconst rows = $input.all();\n\n// Collect HubSpot Field IDs (unique)\nconst propsSet = new Set();\n\nfor (const row of rows) {\n  const r = row.json;\n\n  // Field ID is in the first column header cell\n  const fieldId = r[\"MyWedding Meta Data Model - Field Definitions\"];\n  const sourceSystem = r[\"col_4\"]; // \"HubSpot\"\n\n  // Skip blank rows and header row label \"Field ID\"\n  if (!fieldId) continue;\n  if (String(fieldId).trim().toLowerCase() === \"field id\") continue;\n\n  // Only keep HubSpot entries\n  if (String(sourceSystem).trim() !== \"HubSpot\") continue;\n\n  // add to set\n  propsSet.add(String(fieldId).trim());\n}\n\n// Convert to array, keep original order from sheet rows if you prefer:\nconst properties = [];\nfor (const row of rows) {\n  const fid = row.json[\"MyWedding Meta Data Model - Field Definitions\"];\n  if (!fid) continue;\n  if (String(fid).trim().toLowerCase() === \"field id\") continue;\n  if (String(row.json[\"col_4\"]).trim() !== \"HubSpot\") continue;\n  const trimmed = String(fid).trim();\n  if (propsSet.has(trimmed)) {\n    properties.push(trimmed);\n    propsSet.delete(trimmed); // ensure we preserve ordering and avoid duplicates\n  }\n}\n\n// Fallback: if nothing found, define defaults (optional)\nif (properties.length === 0) {\n  // you can leave this empty or set defaults\n  // properties.push('dealname','amount');\n}\n\n// Build CSV\nconst csv = properties.join(',');\n\n// Return one item containing everything the HTTP Request node can use\nreturn [\n  {\n    json: {\n      hubspot_property_list: properties,\n      hubspot_property_csv: csv,\n      // Helpful convenience if you want to use expressions to set query params:\n      hubspot_query: {\n        properties: csv,\n        limit: '100'\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,128],"id":"c805fe34-e6f7-46dd-bf4d-0bddc904ec6f","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1️⃣ Get the property list from previous code node (csv: \"dealname,amount\")\nconst value = $(\"Code in JavaScript\").first().json.hubspot_property_csv;\nconst requiredProps = value.split(\",\");     // → [\"dealname\", \"amount\"]\n\n// 2️⃣ Get hubspot response\nconst input = $input.all();\nconst results = input[0].json.results;      // hubspot items\n\n// 3️⃣ Create final cleaned structure\nconst output = results.map(item => {\n\n    const cleanProps = {};\n\n    // check & copy only required properties\n    for (const prop of requiredProps) {\n        if (item.properties.hasOwnProperty(prop)) {\n            cleanProps[prop] = item.properties[prop];\n        }\n    }\n\n    return {\n        id: item.id,\n        properties: cleanProps\n    };\n});\n\n// 4️⃣ Return final JSON\nreturn output.map(o => ({ json: o }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,128],"id":"cd746040-a3ee-4be9-9a06-64202ba75021","name":"Code in JavaScript2","alwaysOutputData":true},{"parameters":{"projectId":{"__rl":true,"value":"local-cogency-454812-a9","mode":"list","cachedResultName":"Hour Productions","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=local-cogency-454812-a9"},"sqlQuery":"MERGE `local-cogency-454812-a9.HubSpot_Sync.deals` T\nUSING (\n  SELECT\n    '{{ $json.id }}' AS id,\n    '{{ $json.properties.dealname }}' AS dealname,\n    {{ $json.properties.amount ?? 'NULL' }} AS amount\n) S\nON T.id = S.id\nWHEN MATCHED THEN\n  UPDATE SET\n    dealname = S.dealname,\n    amount = S.amount\nWHEN NOT MATCHED THEN\n  INSERT (id, dealname, amount)\n  VALUES (S.id, S.dealname, S.amount);\n","options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[832,-16],"id":"5b080c08-d738-4dba-8e7c-b52ed6fa465f","name":"Execute a SQL query","alwaysOutputData":false},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals?limit=10&properties={{ $json.hubspot_query.properties }}","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,528],"id":"91f9f74f-0bd4-455b-bd8e-9b4f563da18d","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"12BxIx1PIy9ofEvc_M0-FddvfYWOf5mzce-IZlRqrgO4","mode":"list","cachedResultName":"client_template_mapping_sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12BxIx1PIy9ofEvc_M0-FddvfYWOf5mzce-IZlRqrgO4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12BxIx1PIy9ofEvc_M0-FddvfYWOf5mzce-IZlRqrgO4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,368],"id":"ca3eb714-6394-4451-9938-75490d512160","name":"Get row(s) in sheet1"},{"parameters":{"projectId":{"__rl":true,"value":"local-cogency-454812-a9","mode":"list","cachedResultName":"Hour Productions","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=local-cogency-454812-a9"},"sqlQuery":"SELECT *\nFROM `local-cogency-454812-a9.HubSpot_Sync.deals`\nWHERE id = \"3163604580\"\n","options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[944,256],"id":"e5b1bd3a-1756-47f2-9f02-5e2e6b5c9ebf","name":"Execute a SQL query1"},{"parameters":{"method":"PUT","url":"https://sheets.googleapis.com/v4/spreadsheets/1uBFQrefEIyegbogwe8u0r_QYCcD9CxlWh5BMzwBH3bs/values/Wedding%20Journal!C7","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueInputOption","value":"RAW"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"values\": [\n    [\n      \"{{$json.dealname}}\"\n    ]\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,384],"id":"94abd246-1597-468c-addc-807035938361","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,16],"id":"2bc50426-03e0-45fc-b056-d95f15874902","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"70503a2e-0e98-44a4-9901-6e57aa817f99","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[720,688],"id":"058328c9-5576-4bf5-b741-7bc710b0e324","name":"Webhook","webhookId":"70503a2e-0e98-44a4-9901-6e57aa817f99"},{"parameters":{"jsCode":"// Extract deal IDs and event types from webhook payload\nconst body = $input.first().json.body;\nconst events = [];\n\n// HubSpot sends an array of events in body\nif (Array.isArray(body)) {\n  for (const event of body) {\n    events.push({\n      objectId: event.objectId,\n      eventType: event.subscriptionType,\n      propertyName: event.propertyName || null,\n      propertyValue: event.propertyValue || null,\n      changeSource: event.changeSource || null,\n      occurredAt: event.occurredAt\n    });\n  }\n}\n\n// Remove duplicates by objectId (in case multiple properties changed)\nconst uniqueDeals = [...new Map(\n  events.map(e => [e.objectId, e])\n).values()];\n\nif (uniqueDeals.length === 0) {\n  throw new Error('No deal IDs found in webhook payload');\n}\n\nconsole.log(`Processing ${uniqueDeals.length} unique deal(s)`);\n\nreturn uniqueDeals.map(deal => ({ json: deal }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,688],"id":"a44e1edf-07e7-42e1-87fc-12f7df863326","name":"Extract Deal IDs"},{"parameters":{"projectId":{"__rl":true,"value":"local-cogency-454812-a9","mode":"list","cachedResultName":"Hour Productions","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=local-cogency-454812-a9"},"sqlQuery":"MERGE `local-cogency-454812-a9.HubSpot_Sync.hubspot_sync` AS target\nUSING (\n  SELECT\n    '{{ $json.objectId }}' AS deal_id,\n    '{{ $json.propertyName }}' AS property_name,\n    '{{ $json.propertyValue }}' AS property_value\n) AS source\nON target.deal_id = source.deal_id\n\nWHEN MATCHED THEN\n  UPDATE SET\n    dealname = IF(source.property_name = 'dealname',\n                  CAST(source.property_value AS STRING),\n                  target.dealname),\n    dealstage = IF(source.property_name = 'dealstage',\n                   CAST(source.property_value AS STRING),\n                   target.dealstage),\n    amount = IF(source.property_name = 'amount',\n                CAST(source.property_value AS STRING),\n                target.amount),\n    closedate = IF(source.property_name = 'closedate',\n                   CAST(source.property_value AS STRING),\n                   target.closedate),\n    createdate = IF(source.property_name = 'createdate',\n                    CAST(source.property_value AS STRING),\n                    target.createdate),\n    lastmodifieddate = IF(source.property_name = 'lastmodifieddate',\n                          CAST(source.property_value AS STRING),\n                          target.lastmodifieddate),\n    hubspot_owner_id = IF(source.property_name = 'hubspot_owner_id',\n                          CAST(source.property_value AS STRING),\n                          target.hubspot_owner_id),\n    archived = IF(source.property_name = 'archived',\n                  CAST(source.property_value AS BOOL),\n                  target.archived)\n\nWHEN NOT MATCHED THEN\n  INSERT (deal_id)\n  VALUES (source.deal_id);\n","options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[1232,688],"id":"6bca270e-36a0-493d-829e-6b9082524187","name":"UPSERT to BigQuery"},{"parameters":{"content":"Workflow Overview (HubSpot → n8n → BigQuery)\n\n","height":272,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,576],"id":"17960356-ca20-4ccb-856e-bb4103cf4940","name":"Sticky Note1"}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract Deal IDs","type":"main","index":0}]]},"Extract Deal IDs":{"main":[[{"node":"UPSERT to BigQuery","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"002a17eb-9fe1-4e9a-9b51-e2058d3c7e22","activeVersionId":null,"versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-02T07:27:49.373Z","createdAt":"2025-12-02T07:27:49.373Z","role":"workflow:owner","workflowId":"YvMsl3QctaicslI3","projectId":"o9K3bKGwecQmkvBq","project":{"updatedAt":"2025-10-29T13:05:39.477Z","createdAt":"2025-10-29T13:04:47.870Z","id":"o9K3bKGwecQmkvBq","name":"Mehul Prajapati <mehulprajapati.ds@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"64c8dfbf-4414-4b07-915a-68ff25060cfe"}}]}